html {
    @include box-sizing(border-box);
    height: 100%;
}

*,
*::after,
*::before{
    @include box-sizing(inherit);
}

body {
    font-family: $fuente_principal;
    height: 100%;
}

img {
    max-width: 100%;
}

.centrado{
    text-align: center;
}

.oculto{
    display: none;
}

.pagina {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;

    .nombre-sitio{
        padding: 1rem;
        flex: 0 0 5rem;
        @include desktop{
            flex: 0 0 20rem;
        }
        background-color: $secundario;
        display: flex;
        align-items: center;

        h1{
            color: $blanco;
            margin: 0;
        }

        .escritorio{
            display: none;
            @include desktop{
                display: block;
            }
        }

        .movil{
            @include desktop{
                display: none;
            }
        }
    }
}

.barra{
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: $principal;
   

    .menu-izquierdo{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    .menu-derecho{
        display: flex;
        .caja{
            padding: 0 1rem;
            display: flex;
            align-items: center;
            &:hover{
                background-color: darken($principal, 5);
            }
            a{
                color: $blanco;
                text-decoration: none;

                span{
                    background-color: $terciario;
                    border-radius: 50%;
                    padding: .5rem;
                    margin-left: .5rem;
                }
            }
        }
    }
}

.contenedor-principal{
    flex: 1;
}