// Variables
// Fuentes
$fuente_principal : 'Raleway',
sans-serif;

// Colores
$principal : #335ff0;
$secundario : #1b1369;
$terciario: #1cd604;
$gris : #f2f2f2;
$blanco : #fff;
$negro : #000000;

// Variables apra los tamaños de media queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;